<div class="home_container">
  <div class="jumbotron">
    <div class="container">
      <div class="jumbotron_header">
        Familia Moja</br>Community Project
      </div>
      <div class="jumbotron-inner col-md-12">
        <div class="col-md-6">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag("2.jpg", :alt => "rss feed") %>
              </div>
              <div class="item">
                <%= image_tag("11.jpg", :alt => "rss feed") %>
              </div>
              <div class="item">
                <%= image_tag("5.jpg", :alt => "rss feed") %>
              </div>
            </div>    
          </div>    
        </div>
        <div class="col-md-6">
          <div class="quote">
            <div>
              <%= @anim_val %>
            </div>
            “It was born out of the necessity to respond to the people who were ‘falling by the wayside’ because we had no personnel or even no concept to cater for their needs beyond being a medical facility. <br>
            Like the ‘Good Samaritan’, we can now respond to those we meet ‘fallen on the road’. </br>Our ‘donkey’ - Familia Moja - carries them until they can go on by themselves ...” </br>
            - Ruth Hulser
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class="home_content">
    <div class="home_title">
      Welcome to the new look website for the Familia Moja Community Project [FMCP] UK.
    </div>
    <div class="home_body_one">
    Familia Moja has been running now for more than ten years serving the poorest people in the Tabora area of Tanzania. However, there has recently been a big change in the management of this project.
    </br> </br>
    The biggest changes are that Dr Ruth Hulser is now no longer working for CMS or St Phillips Health Centre [which continues to be run by the Diocese of Tabora] and Familia Moja is no longer funded through either of these organisations.
    </br> </br>
    This change for Ruth is a significant shift of focus and is complicated due to her family commitments in Tanzania and a desire to see the work of this project continued.
    </br> </br>
    Ruth’s position now is that she has returned to the UK [as of May 2018] and will be making regular trips back to Tabora to visit her family and support the workers who continue this project. It is now run by Mama Ndugu and a group of staff working under her.
    </br> </br>
    The aim of the project has not changed. It is to support the poorest people in Tabora who have no other means to help themselves.
    </div>
    <div class="home_body_two">
      The project will have to be run slightly differently. We aim to set up two charities – one in the UK whose primary aim will be to raise funds and provide grants to support the second one in Tanzania. Both will be known as the Familia Moja Community Project [FMCP] but there will be FMCP-UK and FMCP-TZ. . This slight change of name is because of the need to make it clear that there is no longer an association with the former project funded by CMS / The Diocese.
    </div>
  </div>
</div>