<div class="aims_content">
  <div class="aims_title">
    Project Aims
  </div>

  <div class = "aims_body">
    Familia Moja was set up to support those who are the neediest in terms of starvation or sickness and who have little or no ability to generate an income. This Christian based project has been set up to provide specific aid to families in the town of Tabora and the surrounding villages. Families are accepted entirely on the basis of need regardless of creed, race or colour.
    </br> </br>
    It aims to provide assistance to individual families that is tailored to their specific needs by partnering individuals or families. We see ourselves as an extension of their family (which is often sadly lacking) and we try to be there like an extended family member - not too affluent but ready for real emergencies and helping to strengthen the social network.
    </br> </br>
    Small grants will allow FMCP-TZ to do various things which could include:
    <ul>
      <li>Providing seeds that a family can use to plant and feed themselves</li>
      <li>Buying medicines that wouldn’t otherwise be available</li>
      <li>By providing free palliative care (home based and hospice based)</li>
      <li>By growing food – including finding ways to sustainable ecological farming locally ,exploring models for soil restoration and modelling these for the community.</li>
      <li>By finding solutions to water shortage eg rainwater harvesting tanks</li>
      <li>By offering homes -temporarily and permanently -for people in need. Often people need accommodation and living support if they live far away from any medical facility and need to stay closer to a medical base for some time</li>
    </ul>
  </div>
</div>